{% extends "accounting/base.html"%}
{% block title %} Password Reset {% endblock %}
{% load widget_tweaks %}

{% block content %}

{% if messages %}
<div class="row d-flex justify-content-center">
    <div class=" text-center col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
            class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

<!--Reset Password-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {% render_field form.email class="form-control form-control-sm" type="email"%}
        <button class="btn btn-primary mt-3" type="submit">Send email</button>
    </form>
</div>

{% endblock %}