{% extends "accounting/base.html"%}
{% block title %} Password Reset {% endblock %}
{% load widget_tweaks %}

{% block content %}


{% if messages %}
<div class="row d-flex justify-content-center">
    <div class=" text-center col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
            class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}


<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <div class="form-group">
        <label for="security_answer">Security Question:</label>
        {% if user.security_question == 1 %}
        <p>Whats is your mother maiden name?</p>
        {% elif user.security_question == 2 %}
        <p>What is your favorite color?</p>
        {% else %}
        <p>What is your biggest fear?</p>
        {% endif %}
    </div>
    <form method="POST" id="passwordResetForm">
        {% csrf_token %}

        <div class="form-group ">
            <label for="security_answer">Security Answer</label>
            {% render_field form.answer class="form-control form-control-sm" type="text" placeholder="Security Answer" %}
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="password1">New Password</label>
                {% render_field form.new_password1 class="form-control form-control-sm"%}
            </div>
            <div class="form-group col">
                <label for="password2">Confirm Password</label>
                {% render_field form.new_password2 class="form-control form-control-sm"%}
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
</div>

<script>
    $("#passwordResetForm").validate({
        rules: {
            new_password1: {
                password1: true
            },
            new_password2: {
                equalTo: "#id_new_password1"
            }
        },
        messages: {
            new_password1: {
                password1: "Passwords must be a minimum of 8 characters, must start with a letter, have a number and a special character"
            },
            new_password2: {
                new_password2: "Passwords must match"
            }
        }
    });

    $.validator.methods.password1 = function (value, element) {
        return this.optional(element) || /^[A-Za-z](?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(value);
    }
</script>

{% endblock %}