{% extends "accounting/base.html"%}
{% block title %} Update an Account {% endblock %}
{% load widget_tweaks %}

{% block content %}

<style>
    .global-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 750px;
    }

    .size-header {
        font-size: xx-large;
    }

    .error {
        color: red;
    }
</style>

{% if messages %}
<div class="row d-flex justify-content-center">
    <div class=" text-center col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
            class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

<div class="global-container mt-5">
    <div class="card login-form">
        <div class="card-body">
            <p class="card-title text-center size-header"><strong>Edit Account {{account.account_number}}</strong></p>
            <hr>
            <div class="card-text">
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name"> Account Name </label>
                        {% render_field form.account_name class="form-control form-control-sm" type="text" placeholder="Account Name" %}
                    </div>

                    <div class="form-group">
                        <label for="description"> Account Description </label>
                        {% render_field form.account_description class="form-control form-control-sm" rows="5" type="text" %}
                    </div>

                    <div class="form-group">
                        <label for="name"> Account Status </label>
                        {% render_field form.account_status class="form-control form-control-sm" type="select" %}
                    </div>

                    <div class="form-group">
                        <label for="description"> Account Comment </label>
                        {% render_field form.account_comment class="form-control form-control-sm" rows="5" type="text" %}
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Account Edit</button>
                    <a href="{% url 'accounthome' %}" class="btn btn-primary btn-block">Back</a>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}