{% extends "accounting/base.html"%}
{% block title %} Event Logs {% endblock %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}


{% if messages %}
<div class="row d-flex justify-content-center">
    <div class=" text-center col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
            class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

<div class="container-fluid ">

    <div class="card w-25 ml-5 mt-3">
        <div id="headingOne" class="card-header bg-white shadow-sm border-0 text-center">
            <h6 class="mb-0 font-weight-bold">
                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne"
                    class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Eventlog
                    Filters</a>
            </h6>
        </div>
        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
            <form method="get">
                <div class="form-group col">
                    <label for="name">Account Name</label>
                    {% render_field filter.form.account_name class="form-control form-control-sm" type="text" placeholder="Account Name" %}
                </div>

                <div class="form-group col">
                    <label for="number">Account Number</label>
                    {% render_field filter.form.account_number class="form-control form-control-sm" type="text" placeholder="Account Number" %}
                </div>

                <div class="form-group col">
                    <label for="catagory">Account Status</label>
                    {% render_field filter.form.account_status class="form-control form-control-sm" type="select" %}
                </div>
                <div class="form-group col">
                    <label for="subcatagory">Modified User</label>
                    {% render_field filter.form.history_user class="form-control form-control-sm" type="select" %}
                </div>
                <div class="form-group col">
                    <label for="balance">History Date</label>
                    {% render_field filter.form.history_date class="form-control form-control-sm" id="history_date" type="text" %}
                </div>
                <div class="form-group col">
                    <label for="balance">History Id</label>
                    {% render_field filter.form.history_id class="form-control form-control-sm"  type="number" %}
                </div>
                <!-- <div class="d-flex row justify-content-center"> -->
                <button class="btn btn-primary m-3" type="submit">Filter</button>
                <a href="{% url 'eventlog' %}" class="btn btn-primary m-3">Clear Filters</a>
                <!-- </div> -->
            </form>
        </div>
    </div>

    <div class="p-5">
        <table class="table table-hover table-bordered ">
            <thead>
                <tr>

                    <th scope="col">Event Id</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Fields</th>
                    <th scope="col">Before</th>
                    <th scope="col">After</th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>


                </tr>
            </thead>
            <tbody>
                <!-- 
            An event log showing the before and after image of each record
            added, modified, or deactivated should be generated each
            time data changes by any of the users. The event
            logs must be kept on a table. The user id andthe time and date of the
            user who made change to the data must be saved. Each
            event must have a unique auto generated ID -->

                {% for account in page_obj %}
                <tr>


                    <td>{{account.history_id}}</td>
                    <td>{{account.account_number}}</td>
                    <td>
                        <p>Account Name</p>
                        <p>Account Description</p>
                        <p>Account Balance</p>
                        <p>Account Status</p>
                    </td>
                    <td>

                        {% if not account.prev_record.account_name %}
                        <p>None</p>
                        {% else %}
                        <p>{{account.prev_record.account_name}}</p>
                        {% endif %}


                        {% if not account.prev_record.account_description %}
                        <p>None</p>
                        {% else %}
                        <p>{{account.prev_record.account_description}}</p>
                        {% endif %}

                        {% if not account.prev_record.account_balance %}
                        <p>None</p>
                        {% else %}
                        <p>$ {{account.prev_record.account_balance|intcomma}}</p>
                        {% endif %}

                        {% if not account.prev_record.account_status %}
                        <p>None</p>
                        {% else %}
                        <p>{{account.prev_record.account_status}}</p>
                        {% endif %}


                    </td>
                    <td>

                        <p>{{account.account_name}}</p>

                        {% if not account.account_description %}
                        <p>None</p>
                        {% else %}
                        <p>{{account.account_description}}</p>
                        {% endif %}

                        <p>$ {{account.account_balance|intcomma}}</p>

                        <p>{{account.account_status}}</p>


                    </td>
                    <td>{{account.history_user}}</td>
                    <td>{{account.history_date}}</td>



                </tr>


                {% endfor %}
            </tbody>
        </table>

    </div>

    <ul class="pagination justify-content-center">
        {% if current_page.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ current_page.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        {% for page in paginator.page_range %}
        <li class="page-item {% if page == current_page.number %}active{% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% if current_page.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ current_page.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>

</div>

<script>
    $("#history_date").datepicker({
        changeMonth: true,
        changeYear: true,
    });
</script>

{% endblock %}