<style>
    .avatar {
        vertical-align: middle;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
</style>


{% if user.user_type == 3 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>MB.</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounthome' %}">Accounts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'journal' %}">Journals</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'eventlog' %}">Event Log</a>
                    <a class="dropdown-item" href="{% url 'userprofiles' %}">Users</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <img src="https://ui-avatars.com/api/?name=John+Doe" alt="Avatar" class="avatar">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>


</nav>
{% elif user.user_type == 2  %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>MB.</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounthome' %}">Accounts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'journal' %}">Journals</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'balancesheet' %}">Balance Sheet</a>
                    <a class="dropdown-item" href="{% url 'incomesheet' %}">Income Sheet</a>
                    <a class="dropdown-item" href="{% url 'trailbalance' %}">Trail Balance</a>
                    <a class="dropdown-item" href="{% url 'retainedearnings' %}">Retained Earnings</a>
                    <a class="dropdown-item" href="{% url 'eventlog' %}">Event Log</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <img src="https://ui-avatars.com/api/?name=John+Doe" alt="Avatar" class="avatar">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{% elif user.user_type == 1 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>MB.</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounthome' %}">Accounts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'journal' %}">Journals</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'eventlog' %}">Event Log</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <img src="https://ui-avatars.com/api/?name=John+Doe" alt="Avatar" class="avatar">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'notlogged' %}"><strong>MB.</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Accounts<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Journals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Register</a>
            </li>
        </ul>
    </div>


</nav>
{% endif %}