{% extends "accounting/base.html"%}
{% block title %} Trail Balance {% endblock %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}

<style>
    .global-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 1050px;
    }

    .size-header {
        font-size: xx-large;
    }

    .error {
        color: red;
    }

    .total-area {
        display: flex;
        flex-direction: row;
    }

    .total-text {
        margin-left: 0.8rem;
    }

    .total-display {
        display: flex;
        flex-direction: row;
        padding-left: 25.5rem;
    }

    p {
        font-weight: 700;

    }


    .p-right {
        padding-left: 11rem;

    }

    @media only screen and (max-width: 1000px) {
        .total-display {
            padding-left: 21.5rem;
        }

        .p-right {
            padding-left: 9.5rem;
        }

    }

    @media print {
        #download {
            display: none;
        }

        #email {
            display: none;
        }

        #filter {
            display: none;
        }
    }
</style>

{% if messages %}
<div class="row d-flex justify-content-center">
    <div class=" text-center col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
            class="alert alert-{{ message.tags }}" {% endif %} role="alert" id="jqmessage">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

<div class="card w-25 ml-5 mt-3" id="filter">
    <div id="headingOne" class="card-header bg-white shadow-sm border-0 text-center">
        <h6 class="mb-0 font-weight-bold">
            <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne"
                class="d-block position-relative text-dark text-uppercase collapsible-link py-2">TrailBalance
                Filters</a>
        </h6>
    </div>
    <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
        <form method="get">
            <div class="form-group col">
                <label for="name">Date Range</label>
                {% render_field filter.form.date_range class="form-control form-control-sm"  type="select" %}
            </div>
            <div class="form-group col">
                <label for="name">Start Date</label>
                {% render_field filter.form.start_date class="form-control form-control-sm date"  type="text" %}
            </div>
            <div class="form-group col">
                <label for="name">End Date</label>
                {% render_field filter.form.end_date class="form-control form-control-sm date"  type="text" %}
            </div>
            <!-- <div class="d-flex row justify-content-center"> -->
            <button class="btn btn-primary m-3" type="submit">Filter</button>
            <a href="{% url 'trailbalance' %}" class="btn btn-primary m-3">Clear Filters</a>
            <!-- </div> -->
        </form>
    </div>
</div>


<div class="global-container mt-5">
    <div class="card login-form">
        <div class="card-body">
            <p class="card-title text-center size-header"><strong>Adjusted Trail Balance</strong></p>


            <div class="card-text">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Account Name</th>
                            <th scope="col">Debit</th>
                            <th scope="col">Credit</th>
                        </tr>
                    </thead>
                    <tbody id=" myTable">

                        {% for l in object_list %}
                        {% ifchanged l.account.account_name %}
                        <tr>
                            <td>{{l.account.account_name}}</td>

                            {% if l.account.account_side == "Left" %}
                            <td class="text-right left-side">{{l.account.account_balance|intcomma}}</td>
                            <td></td>
                            {% else %}
                            <td></td>
                            <td class="text-right right-side">{{l.account.account_balance|intcomma}}</td>
                            {% endif %}



                        </tr>
                        {% endifchanged %}
                        {% endfor %}


                    </tbody>
                </table>
                <div class="total-area">
                    <div class="total-text">
                        <p class="">Total of debit and of credit</p>
                    </div>
                    <div class="total-display">
                        <p class="p-left" style="border-bottom: 0.3rem double #dee2e6;">$&emsp; <span" id="left"></span>
                        </p>
                        <p class="p-right" style="border-bottom: 0.3rem double #dee2e6;">$&emsp; <span
                                id="right"></span></p>
                    </div>
                </div>





            </div>
            <a href="#" onclick="window.print()" class="btn btn-primary  mt-3" id="download">Print
                Document</a>
            <a href="#trailbalance" id="email" class="btn btn-primary ml-3 mt-3" rel="jqmodal:open">Send
                Email</a>
        </div>
    </div>
</div>
</div>

<form method="POST" action="" id="trailbalance" enctype="multipart/form-data" class="jqmodal">
    {% csrf_token %}
    <div class="form-group">
        {% render_field form.to_email class="form-control form-control-sm" type="select" %}
    </div>
    <div class="form-group">
        {% render_field form.subject class="form-control form-control-sm" type="text" placeholder="Subject" %}
    </div>
    <div class="form-group">
        {% render_field form.attachment class="form-control form-control-sm" type="file" %}
    </div>
    <div class="form-group">
        {% render_field form.message class="form-control form-control-sm" rows="15" placeholder="Message" %}
    </div>
    <button type="submit" class="btn btn-primary btn-block">Send Email</button>

</form>

<script>

    $('.left-side:first').prepend("$ &emsp;");
    $('.right-side:first').prepend("$ &emsp;");

    var leftSum = 0
    var rightSum = 0
    $('.left-side').each(function () {
        x = $(this).text().replace(/,/g, '')
        leftSum += parseFloat(x.split("$").join("")); // Or this.innerHTML, this.innerText
    });
    $('.right-side').each(function () {
        y = $(this).text().replace(/,/g, '')
        rightSum += Math.abs(parseFloat(y.split("$").join(""))); // Or this.innerHTML, this.innerText
    });

    console.log(leftSum)
    console.log(rightSum)

    $('#left').text(leftSum.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    $('#right').text(rightSum.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));


    $(".date").datepicker({
        changeMonth: true,
        changeYear: true,
    });

</script>

{% endblock %}