<!DOCTYPE html> 
<html> 
  
<head> 
  <title>test page</title> 
  <link rel="stylesheet" href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity= 
"sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"> 
  
  <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
  </script> 
  <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 
  <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script> 
  
  <script> 
    $(document).ready(function () { 
  
      // Denotes total number of rows 
      var rowIdx = 2; 
  
      // jQuery button click event to add a row 
      $('#addBtn').on('click', function () { 
  
        // Adding a row inside the tbody. 
        $('#tbody').append(`
        <tr id="R${++rowIdx}"> 
                <td class="row-index text-center"> 
                    <p>Account ${rowIdx}</p></td> 
                </td>
                <td>
                    <div class="form-group">
                        <select name="journalaccount{{x}}" id="journalaccount{{x}}">
                            <option disabled selected value></option>
                            {% for account in accounts %}
                            <option>{{account.account_number}}-{{account.account_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input type="number" step=0.01 name="journalaccountdebit{{x}}" id="journalaccountdebit{{x}}"
                            class="name">
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input type="number" step=0.01 name="journalaccountcredit{{x}}" id="journalaccountcredit{{x}}"
                            class="name">
                    </div>
                </td>



              <td class="text-center"> 
                <button class="btn btn-danger remove"
                  type="button">Remove</button> 
                </td> 
            </tr>`); 
      }); 
  
      // jQuery button click event to remove a row. 
      $('#tbody').on('click', '.remove', function () { 
  
        // Getting all the rows next to the row 
        // containing the clicked button 
        var child = $(this).closest('tr').nextAll(); 
  
        // Iterating across all the rows  
        // obtained to change the index 
        child.each(function () { 
  
          // Getting <tr> id. 
          var id = $(this).attr('id'); 
  
          // Getting the <p> inside the .row-index class. 
          var idx = $(this).children('.row-index').children('p'); 
  
          // Gets the row number from <tr> id. 
          var dig = parseInt(id.substring(1)); 
  
          // Modifying row index. 
          idx.html(`Row ${dig - 1}`); 
  
          // Modifying row id. 
          $(this).attr('id', `R${dig - 1}`); 
        }); 
  
        // Removing the current row. 
        $(this).closest('tr').remove(); 
  
        // Decreasing total number of rows by 1. 
        rowIdx--; 
      }); 
    }); 
  </script> 
</head> 
  
<body> 
  <div class="container pt-4"> 
    <div class="table-responsive"> 
      <table class="table table-bordered"> 
        <thead> 
            <tr>
                <td>#</td>
                <td>Account Name</td>
                <td>Debit</td>
                <td>Credit</td>
                <!-- <td>Description</td> -->
                <!-- <td>Name</td> -->
            </tr>
        </thead> 
        <tbody id="tbody"> 
  
        </tbody> 
      </table> 
    </div> 
    <button class="btn btn-md btn-primary" 
      id="addBtn" type="button"> 
        Add new Account
    </button> 
  </div> 
</body> 
  
</html>