{% extends "accounting/base.html"%}
{% block title %} User Update {% endblock %}
{% load widget_tweaks %}

{% block content %}

<style>
    .global-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 750px;
    }

    .size-header {
        font-size: xx-large;
    }

    .error {
        color: red;
    }
</style>

{% if messages %}
<div class="row d-flex justify-content-center">
    <div class=" text-center col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
            class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}

<div class="global-container mt-5">
    <div class="card login-form">
        <div class="card-body">
            <p class="card-title text-center size-header"><strong>Updating user {{user.username}}</strong></p>
            <hr>
            <div class="card-text">
                <form action="" method="post" id="registerForm">
                    {% csrf_token %}

                    <div class="form-check mb-3">
                        {% render_field form.active class="form-check-input" type="checkbox" %}
                        <label class="form-check-label" for="defaultCheck1">
                            Active
                        </label>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="email">Email address</label>
                            {% render_field form.email class="form-control form-control-sm" type="email" placeholder="name@domain.com" %}
                        </div>

                        <div class="form-group col">
                            <label for="lastName">Last Name</label>
                            {% render_field form.last_name class="form-control form-control-sm" type="text" placeholder="Last Name" %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_type">Account Type</label>
                        {% render_field form.user_type class="form-control form-control-sm" type="select" %}
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        {% render_field form.address class="form-control form-control-sm" type="text" autocomplete="on" placeholder="123 Street Place" %}
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="city">City</label>
                            {% render_field form.city class="form-control form-control-sm" type="text" autocomplete="on" placeholder="City"%}
                        </div>
                        <div class="form-group col">
                            <label for="state">State</label>
                            {% render_field form.state class="form-control form-control-sm" type="text" autocomplete="on" placeholder="Alabama" %}
                        </div>
                        <div class="form-group col">
                            <label for="zip">Zip</label>
                            {% render_field form.zip_code class="form-control form-control-sm" type="text" placeholder="Zip Code"%}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="city">Deactive Start Date</label>
                            {% render_field form.deactive_time_start class="form-control form-control-sm" id="dob" type="text" %}
                        </div>
                        <div class="form-group col">
                            <label for="state">Deactive End Date</label>
                            {% render_field form.deactive_time_end class="form-control form-control-sm" id="dob2" type="text" %}
                        </div>

                    </div>



                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                    <a href="{% url 'userprofiles' %}" class="btn btn-primary btn-block">Back</a>

                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $("#dob").datepicker();
    $("#dob2").datepicker();
</script>


{% endblock %}